*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html{
  scroll-behavior: smooth;
}
/* sticky nav */

/* status csss*/

.applications{
  /* border: 1px red solid; */
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1vw 6vw;
  /* background-color: var(--background-color); */
}
.applications .headtag{
  /* border: 1px red solid; */
  background-color:var(--head);
  color: rgb(255, 175, 37);
  padding: 4px 1px;
  border-bottom: 2px rgb(27, 190, 255) solid;
}
.applications .headtag1{
  /* border: 1px red solid; */
  background-color:var(--head);
  color: rgb(255, 38, 0);
  padding: 4px 1px;
  border-bottom: 2px rgb(27, 190, 255) solid;
}
.applications .headtag h1{
  font-size:1.8rem;
}
.applications .application_table{
  /* border: 1px red solid; */
  background-color: var(--background-color);
  /* height: 25rem; */
  overflow: auto;
  padding: 10px;
}
.applications .application_table .table thead{
  position: sticky;
}
.table{
  width: 100%;
}
.table, .table td,th{
  border-bottom: 1px solid black;
  text-align: center;
  height: 30px;
  border-collapse:collapse;
}
.table tr:hover {
  background-color: #c0c3ed;
}
.table .action_icon{
  width: 30px;
  height: 25px;
}
.footer{
  font-size: 1.1rem;
  background-color: var(--nav);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 8px;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.header{
  height: 15vh;
}
.header .head{
  position: relative;
  width: 100%;
  height: 10vh;
  background-color:#6a5acd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 100px red solid; */
}
.header .head .headleft{
  /* border: 1px red solid; */
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .head .headleft .logo{
  /* border: 1px red solid; */
  height: 100%;
  display: flex;
  align-items: center;
}
.header .head .headleft img{
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 50px;
  height: 100%;
}
.header .head .headright{
  /* border: 1px red solid; */
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}
.header .head .headright .adminlogo{
  /* border: 1px red solid; */
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.header .head .headright .adminlogo img{
  border-radius: 50px;
  height: 75%;
}
.header .head .headright .logout a{
  /* border: 1px red solid; */
  padding: 0 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
}
.header .nav{
  width: 100%;
  padding: 5px 7vw;
  background: #535353;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: sticky;
}
.header .nav a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.2rem;
}
.header .nav a:hover{
  color: #99eeff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* form  */

.container{
height: 100%;
width: 100%;
background-color: #fff;
padding: 25px 30px;
padding-top: 20px; 
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}
.container .title{
font-size: 25px;
position: relative;

}
.container .title::before{
content: "";
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 30px;
border-radius: 5px;
background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details{
display: flexbox;
justify-content: space-between;
padding: 15px 0 12px 0;

}
form .user-details .input-box{
padding-bottom: 4px;
padding-top: 8px;
/* height: 100%; */
}

form .input-box span.details{
display: block;
padding-bottom: 5px;
}
.user-details{
display: flexbox;

}
.details{
font-size: 20px;
}
.input-box input{
height: 50px;
width: 100%;
display: flex;
outline: none;
font-size: 16px;
border-radius: 5px;
padding-left: 15px;
border: 1px solid #ccc;
border-bottom-width: 2px;
transition: all 0.3s ease;
}
.input-box textarea{
width: 100%;
display: flex;
outline: none;
font-size: 16px;
border-radius: 5px;
padding-left: 15px;
border: 1px solid #ccc;
border-bottom-width: 2px;
transition: all 0.3s ease;
}
form .button{
 height: 66px;
align-items: center;
padding-top: 20px;
padding-left: 100px;
padding-right: 100px;
}
form .button input{
 height: 100%;
 width: 100%;
 border-radius: 5px;
 border: none;
 color: #fff;
 font-size: 18px;
 font-weight: 500;
 letter-spacing: 1px;
 cursor: pointer;
 transition: all 0.3s ease;
 background: linear-gradient(135deg, #56b0ec, #8028a2);
}
form .button input:hover{

background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 584px){
.container{
max-width: 100%;
}
form .user-details .input-box{
padding-bottom: 15px;
  width: 100%;
}
form .category{
  width: 100%;
}
.content form .user-details{
  max-height: 300px;
  overflow-y: scroll;
}
.user-details::-webkit-scrollbar{
  width: 5px;
}
}
@media(max-width: 459px){
.container .content .category{
  flex-direction: column;
}
}  
